*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.navliks-hover:hover{
color: #E53935;
}
a{
    color: #FFFFFF;
}
.navhero{
    background-image: url(/assets/images/homebackground-Image.png);
    background-size: cover;
    background-position: 100% 100%;
    height: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(20px);
    padding-inline: 30px;
    height: 70px;
}
.nav-btn-login{
    padding-inline-end: 20px;
}
.navbar img{
    height: 55px;
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 30px;
}
.navlinks{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
}
.navlinks a{
    color: antiquewhite;
    text-decoration: none;
}
.redhome{
    color: #E53935;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.login-button{
    text-decoration: none;
    color: #f6f2f2 !important; 
}
.login-btn{
    padding-block: 8px;
    padding-inline: 15px;
    background-color: #E53935;
    border-radius: 10px;
    border: none;
}

/* ###############  hero section  ############### */

.hero-section{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    padding: 50px;
}
.hphm{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hphm h2{
    font-size:40px;
    font-style: italic;
    font-weight: normal;
    color:  #FFFFFF;
}
.hphm p{
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
}
.hero-section button{
    height: 34px;
    width: 160px;
    background: #E53935;
    color: #FFFFFF;
    border: 2px solid #E53935;
    border-radius: 7px;
}
@media (min-width:500px) and (max-width:703px){

    .hphm p{
        font-size: 12px;
        font-weight: 100;
        font-style: italic;
    }
    .hphm h2{
        font-size:30px;
        font-style: italic;
        font-weight: normal;
        color:  #FFFFFF;
    }
    .hero-section{
        padding: 0px;
    }
}
@media(max-width:500px){
    .navlinks{
        display: none;
    }
     .navbar{
        display: flex ;
        justify-content: space-between;
     }
    .hphm h2{
        font-size:17px;
        font-style: italic;
        font-weight: normal;
        color:  #FFFFFF;
    }
    .hphm p{
        font-size:12px;
        font-weight: 100;
        font-style: italic;
    }
    .hero-section{
        padding: 0px;
    }
}

/* ########## sec 2 ########### */

.sec2hm{
    background-image: url(/assets/images/homesec2background.png);
    background-size: cover;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    gap: 40px;
    padding: 40px 0px;
}
.hm2{
    padding-top: 30px; 
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.hm2 h2{
    color: #E53935;
    font-size: 21px;
    font-style: italic;
}
.hm2 img{
    width: 117px;
    height: 15px;
}
.cpichm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    text-align: center;
}
.chef1 ,.chef2 ,.chef3 ,.chef4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 265px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(10px);
}
.chef1:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
}
.chef2:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
}
.chef3:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
}
.chef4:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
}
.cpichm img{
    width: 140px;
height: 140px;
border-radius: 69%;
border: 1px solid #E53935;
}
.cpichm h3{
    color: #FFFFFF;
    font-size: 14px;
}
.cpichm h4{
    color: #E53935;
    font-size: 13px;
}
.cpichm p{
    color: #FFFFFF;
    font-size: smaller;
    padding-inline: 0px 10px;
}
@media(max-width:495px){
    .cpichm{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }
}
/* ############## section3 ############### */


.sec3hm{
    background-image: url(/assets/images/Section3background.png);
    background-size: cover;
    height: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 43px;
}
.bloghm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 95px;
    padding: 30px 0;
}
.hi3hm{
    padding-top: 30px; 
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.hi3hm h2{
    color: #E53935;
    font-size: 21px;
    font-style: italic;
}
.hi3hm img{
    width: 117px;
    height: 15px;
}
.article1hm ,.article2hm ,.article3hm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 295px;
    height: 210px;
   border-left: 2px solid gray;
   line-height: 2;
   text-align: start;
   padding-inline: 12px;
}
.article2hm .article3hm .arrowhm p{
    line-height: 5;
}
.headingboxhm{
    height: 32px;
    width: 32px;
    border: 2px solid #E53935;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headingboxhm h1,h2{
    color: #E53935;
    list-style: hangul-consonant;
    font-weight: initial;
    font-size: medium;
}
.bloghm p{
    color: #D9D9D9;
    font-family: Avenir LT Std;
    line-height: 1;
}
.arrowhm p{
    color: #E53935;
    line-height: 5;
}
@media(max-width:495px){
    .bloghm{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        padding-inline: 20px;
    }
}

/* ################  section4   ################### */
.sec4hm{
    background-image: url(/assets/images/Section3background.png);
    background-size: cover;
    height: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 43px;
}
.hi4hm{
    padding-top: 70px; 
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.hi4hm h2{
    color: #E53935;
    font-size: 21px;
    font-style: italic;
}
.hi4hm img{
    width: 117px;
    height: 15px;
}
.reviewshm{
    display: flex;
   width: 100%;
   justify-content: space-around;
   padding: 30px 0px;
}
.clientssayhm{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-inline-start: 27px;
}

.clientssayhm .chhm{
    font-size: 20px;
    font-weight: normal;
    padding-left: 20px;
    color: #ffffff;
}
.clientssayhm p{
color: #6E727A;
padding-left: 20px;
}
.emptyhm{
    height: 180px;
    border-left: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 6%;
}
.box2hm{
    width: 44%;
}
.box2hm p{
    color: #FFFFFF;
}
.imgNhm p{
    color:  #FFFFFF;
}
.imagehphm img{
    height: 70px;
    width:  70px;
    padding: 10px;
}
.imagehphm{
    display: flex;
    flex-direction: row;
}
span{
    padding-top: 30px;
}
span h2{
    color: white;
}
.hshm img{
    height: 21px;
    width: 96px;
    padding: 0px;
}
@media(max-width:800px){
    .reviewshm{
        display: flex;
        flex-direction: column;
       width: 100%;
       gap: 30px;
      align-items: center;
    }
    .clientssayhm{
        padding-inline-start: 0px;
        width: 90%;
    }
    .emptyhm{
        display: none;
    }
    .clientssayhm .chhm{
        padding-left: 0px
    }
    .clientssayhm p{
        padding-left: 0px
    }
    .removeable-brhm{
    display: none;
    }
}





/* @@@@@@@@@@@@@@@@@@@@@@@@@next page styling  FAQ'S @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* ###############  hero section  ############### */

.hero-sectionfq{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    text-align: center;
}
.hpfq{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hpfq h1{
    font-size:40px;
    font-style: italic;
    font-weight: normal;
    color:  #FFFFFF;
}
.hpfq p{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
@media(max-width:400px){
    .navlinksfq{
        display: none;
    }
}

/* #####################  sec2  ######################## */

.sec2fq{
        background-image: url(/assets/images/Frame\ 1597882007.png);
        background-color:  rgb(14, 13, 13);
        background-size: cover;
        height: 100%; 
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 55px;
}
.hi4fq{
    padding-top: 40px; 
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.hi4fq h2{
    color: #E53935;
    font-size: 21px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
.hi4fq img{
    width: 117px;
    height: 15px;
}

/* ########################  inputs  ############################ */


.inputs5fq{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
}
.inputs5fq input {
    width: 75%; 
    padding: 23px 10px; 
    font-size: 14px; 
    border: 2px solid #E53935; 
    border-radius: 40px; 
    background: transparent;
    color: #FFFFFF;
  }


/* @@@@@@@@@@@@@@@@@@@@ FAQS END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@ find a chef start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* ###############  hero section  ############### */

.hero-sectionfc{
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 50px;
    padding: 50px 0;
}
.hpfc{
    padding: 0px 30px;
     padding-block: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 0.1px solid #E53935;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(20px);
    gap: 50px;
}
.hpfc h2{
    font-size: 12px;
    font-weight: 400;
    padding-inline: 9px;
}
.hpfc .imagefc{
    display: flex;
    align-items: center;
}
.hpfc .imagefc img{
    height: 19px;
}
.hpfc .side1fc{
    border-right: 0.75px solid #909090;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.find-chef-button{
text-decoration: none;
}
.hero-sectionfc button{
    padding: 7px 33px;
    background: #E53935;
    color: #FFFFFF;
    border: 2px solid #E53935;
    border-radius: 7px;
    font-size: 11px;
    font-weight: lighter;
}
@media(max-width:495px){
    .navlinks{
        display: none;
    }
    .hpfc h2{
        font-size:20px;
        font-style: italic;
        font-weight: normal;
        color:  #FFFFFF;
    }
    .hpfc p{
        font-size: 16px;
        font-weight: 100;
        font-style: italic;
    }
    .hpfc .side1fc{
        border-right: none;
    }
    
  
}

/* ########## sec 2 ########### */

.sec2fc{
    background-image: url(/assets/images/mainSectionbackground.png);
    background-size: cover;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    gap: 40px;
    padding-block: 100px 0px;
}
.hmfc{
    padding-top: 30px; 
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.hmfc h2{
    color: #E53935;
    font-size: 21px;
    font-style: italic;
}
.hmfc img{
    width: 117px;
    height: 15px;
}
.cpicfc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    text-align: center;
}
.chef1fc ,.chef2fc ,.chef3fc ,.chef4fc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 265px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(10px);
}
.chef1fc:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
    border-radius: 20%;
}
.chef2fc:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
    border-radius: 20%;
}
.chef3fc:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
    border-radius: 20%;
}
.chef4fc:hover{
    border: 2px solid #E53935;
    transition: border 0.3s ease;
    border-radius: 20%;
}
.cpicfc img{
    width: 140px;
height: 140px;
border-radius: 69%;
border: 1px solid #E53935;
}
.cpicfc h3{
    color: #FFFFFF;
    font-size: 14px;
}
.cpicfc h4{
    color: #E53935;
    font-size: 13px;
}
.cpicfc p{
    color: #FFFFFF;
    font-size: smaller;
    padding-inline: 0px 10px;
}
@media(max-width:495px){
    .cpicfc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }
}

/* ########### section3 ############## */

.sec3fc{
    background-image: url(/assets/images/mainSectionbackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 119px;
    width: 100%;
}
.numbersfc{
    height: 48px;
    width: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E53935;
    border-radius: 20px;
    gap: 7px;
    color: #6E727A;
}
.number1fc{
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 14px;
}
.number1fc:hover{
    background-color: #E53935;
    color: #FFFFFF;
}



/* @@@@@@@@@@@@@@@@@@@@ find a chef  END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@ Contact us start  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* ###############  hero section  ############### */

.hero-sectioncu{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 50px;
    text-align: center;
}
.hpcu{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hpcu h1{
    font-size:35px;
    font-style: italic;
    font-weight: normal;
    color:  #FFFFFF;
}
.hpcu p{
    font-size: 18px;
    letter-spacing: 1;
    font-weight: normal;
    text-align: center;
}
@media(max-width:400px){
    .navlinks{
        display: none;
    }
}

/* #####################  sec2  ######################## */

.sec2cu{
        background-image: url(/assets/images/Frame\ 1597882007.png);
        background-color:  rgb(14, 13, 13);
        background-size: cover;
        height: 100%; 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        gap: 55px;
}
.hi4cu{
    padding-top: 40px; 
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.hi4cu h2{
    color: #E53935;
    font-size: 21px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}
.hi4cu img{
    width: 117px;
    height: 15px;
}

/* ########################  image-form  ############################ */
.backgroundimagecu{
    background-image: url(/assets/images/navhero.png);
    background-size: cover;
    background-position: 100% 100%;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imagecu{
    width: 46%;
}
.imagecu img{
    height: 100%;
    width: 91%;
}
.imgformcu{
    display: flex;
    flex-wrap: wrap;
}


/* ####################### form ########################## */
.form-containercu {
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  .forumcu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
  .form-groupcu{
    margin-bottom: 15px;
  }

  .form-groupcu label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: lighter;
    color: #ffffff;
  }
  .necu {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
  }
  .plcu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .form-groupcu textarea {
    width: 96%;
    padding: 8px;
    border: 1px solid #E53935;
    border-radius: 10px;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(20px);
  }
  .form-groupcu input {
    width: 96%;
    padding: 8px;
    height: 42px;
    padding-inline-end: 35px;
    border: 1px solid #E53935;
    border-radius: 10px;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(20px);
  }
  .form-groupcu textarea {
    resize: vertical;
    height: 100px;
  }

  .form-groupcu button {
    width: 100%;
    padding: 15px;
    background-color:#E53935;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
  }
  .checkcu{
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    padding-top: 10px;
}
.checkpcu{
    height: fit-content;
    display: flex;
    align-items: center;
}
.mycheckboxcu{
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(20px);
}
.checkpccu p{
    color: aliceblue;
    font-size: 12px;
    padding-inline: 5px;
}
.inputs-contact-us{
    color: #fefbfb !important;
    }
  .form-groupcu button:hover {
    background-color: #f4f6f9;
    color: #1a1408;
  }
@media(max-width:1192px){
    *{
        padding-inline: 0px;
    }
    .imagecu{
        width: 100%;
    }
    .imagecu img{
        width: 100%;
    }
    .form-containercu{
        width: 100%;
        padding-block: 20px;
    }
    .form-groupcu textarea{
        width: 98%;
    }
    .form-groupcu input{
      padding-inline-end: 0px ;
    }
    .necu {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .plcu{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
}


/* @@@@@@@@@@@@@@@@@@@@ contact us  END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@ chef details start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* ###############  hero section  ############### */

.hero-sectioncd{
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 0;
}
.hpcd{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-inline: 50px;
}
.hpcd .imagecd img{
    height: 450px;
    width: 320px;
}
.side2cd .detailcd h2{
    font-size: 30px;
    font-weight: normal;
}
.side2cd .box1cd{
    height: 347px;
    border-radius: 10px;
    max-width: 830px;
    background-color: rgb(20, 20, 20);
}
.box1cd .box1headingscd{
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    padding-top: 10px;
}
.box1cd .box1headingscd h3{
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    color: #E53935;
}
.side2cd .detailcd p{
    font-size: 12px;
    font-weight: lighter;
    line-height: 1.9;
}
.box1aboutcd{
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
    padding-inline: 15px;
    justify-content: space-between;
}
.box1aboutcd h5{
    font-size: 12px;
    font-weight: initial;
    line-height: 3;
    font-style: italic;
}
.a2a3pcd{
    padding-inline-end: 70px;
}
.about3cd{
    display: flex;
    gap: 60px;
}
.about3cd span{
    color: #E53935;
}
.buttoncd{
    display: flex;
    justify-content: flex-end;
    padding-inline: 15px;
    align-items: center;
    height: 35vh;
}
.buttoncd button{
    background-color: #E53935;
    padding: 10px 20px;
    border: #E53935;
    border-radius: 8px;
    font-size: 12px;
    font-weight: normal;
    color: bisque;
}
@media(max-width:997px){
    .hpcd{
        display: flex;
        flex-direction: column;
        padding-inline: 0px;
    }
    .hpcd .imagecd {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .side2cd{
        width: 100%;
        line-height: 1;
    }
}
@media(max-width:820px){
    .navlinkscd{
        display: none;
    }
    .side2cd .box1cd{
        height: auto;
    }
    .box1aboutcd h5{
       line-height: 2.5;
    }
    .buttoncd{
        height: auto;
    }
}

/* ########## sec 2 ########### */

.sec2cd{
    background-image: url(/assets/images/mainSectionbackground.png);
    background-size: cover;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    gap: 40px;
}
.hi4cd{
    padding-top: 25px; 
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.hi4cd h2{
    color: #E53935;
    font-weight: 100;
    font-size: 21px;
    font-style: italic;
}
.hi4cd img{
    width: 117px;
    height: 15px;
}
.cpiccd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
    text-align: center;
}
/* Container styling */
.image-containercd {
    position: relative;
    max-width: 344px;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* Image styling */
  .image-containercd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; 
  }
  
  /* Overlay styling */
  .overlaycd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  .overlaycd p {
    color: black;
    transform: scale(0.9); 
    transition: transform 0.3s ease;
  }
  .image-containercd:hover .overlaycd {
    background-color: white; 
    opacity: 1; 
  }
  
/* 22222222222222222222222222222222222222222222222 */
@media(max-width:495px){
    .cpiccd{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        text-align: center;
        width: 100%;
    }
}

/* ########### section3 ############## */

.sec3cd{
    background-image: url(/assets/images/mainSectionbackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 119px;
    width: 100%;
}
.numberscd{
    height: 48px;
    width: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E53935;
    border-radius: 20px;
    gap: 7px;
    color: #6E727A;
}
.number1cd{
    background-color: #fff;
    border-radius: 50%;
    padding: 10px 14px;
}
.number1cd:hover{
    background-color: #E53935;
    color: #FFFFFF;
}



/* @@@@@@@@@@@@@@@@@@@@ chef details  END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@ blogs start  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* ###############  hero section  ############### */
.blogs-body{
    background-color:  rgb(14, 13, 13);
}
.hero-sectionbl{
    color: antiquewhite;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-sectionbl img{
    height: 100%;
    width: 90%;
}
.pdccbl{
    display: flex;
    flex-wrap: wrap;
   width: 90%;
    padding-block: 20px;
    gap: 8px;
}
.pdccbl img{
    height: 15px;
    width: 15px;
}
.pdccbl h4{
 color: #ffffff;
 font-size: 15px;
 font-weight: 100;
}
.pbl, .dbl, .cbl, .c1bl{
    display: flex;
    gap: 10px;
}
.pbl, .dbl, .cbl{
    border-right: 1px solid #ffffff;
    padding-inline: 10px;
}
.mainhpbl{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hpbl{
    width: 90%;
    border-bottom: 2px solid #ffffff;
}
.hpbl h1{
    color: #ffffff;
    font-size: 30px;
   font-weight: lighter;
   line-height: 2;
}
.hpbl p{
    color: #ffffff;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.7;
    font-family: sans-serif;
    padding-bottom: 20px;
}

@media(max-width:500px){
    .hpbl h1{
       line-height: 1.3;
    }
    .hero-sectionbl img{
        height: 80%;
    }
}

/* #####################  sec2  ######################## */

.sec2bl{
    width: 100%;
    display: flex;
    justify-content: center;
}
.reviewmainbl{
    width: 90%;
    display: flex;
    gap: 45px;
    flex-direction: column;
    justify-content: center;
}
.reviewmainbl h2{
    color: #ffffff;
    font-weight: normal;
}
.reviewmainbl .cimagebl img{
    height: 100px;
    width: 100px;
}
.tsbl{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tagsbl, .socialbl{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 9px;
}
.tags h2{
    color: white;
    font-size: 20px;
}
.tagsbl h3{
    color: #E53935;
    padding-inline: 11px;
    padding-block: 8px;
    border: 1px solid #E53935;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.socialbl h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}
.socialbl img{
    background-color: #E53935;
    border-radius: 50%;
    height: 20px;
}
.r1bl, .r2bl, .r3bl{
    display: flex;
    border: 1px solid #E53935;
    border-radius: 10px;
    padding-block: 20px;
    padding-inline: 10px;
}
.cimagebl img{
    border-radius: 50%;
}
.ddbl{
    display: flex;
    align-items: center;
    gap: 7px;
}
.ddbl h4{
    color: #ffffff;
}
.ddbl img{
    height: 15px;
    width: 15px;
}
.databl{
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.databl h3, p{
    color: #fff;
    font-size: smaller;
}
.databl p{
    line-height: 3;
}
.databl, .r1bl p{
    line-height: 1;
}
.arrowbl{
    display: flex;
    gap: 10px;
}
.arrowbl img{
    height: 15px;
}
.arrowbl h4{
    color: #E53935;
}
@media(max-width:620px){
    .reviewmainbl{
        display: flex;
        gap: 9px;
}
.databl p{
    line-height: 1.5;
}
}
/* ################# comments form  ####################### */
.form-containerbl{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    
}
.form-containerbl p{
    color: white;
    font-size: smaller;
    line-height: 3;
}
.cinputsbl{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 35px;
}
.finputsbl input{
    width: 46%;
}
.finputsbl{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.cinputsbl input{
    color: #ffffff;
border: 1px solid #E53935;
border-radius: 7px;
padding-inline: 10px;
padding-block: 15px;
outline: 0;
}
.cinputsbl textarea{
    color: #fff;
    border: 1px solid #E53935;
border-radius: 7px;
padding: 10px;
height: 140px;
outline: 0;
}
.cinputsbl button{
  max-width: 127px;
  padding-block: 11px;
  border: 1px solid #E53935;
border-radius: 7px;
background-color: #E53935;
color: #ffffff;
}
.inputs-blogs::placeholder{
    color: #6E727A !important;
}
.inputs-blogs{
color: #E53935 !important;
}
@media(max-width:1240px){
    .cinputsbl input{
        width: 100%;
}
}
/* //////footer////// */
.footersection
{
    background-image: url(/assets/images/footerbackgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footersection img{
    display: flex;
    width: 103px;
height: 79px;
padding: 0px 31px;

}
 ul.custom-list {
        list-style: none;
        padding: 0; 
        margin: 20px; 
        font-family: Arial, sans-serif; 
    }

    ul.custom-list li {
        position: relative; 
        padding-left: 30px; 
        margin-bottom: 10px;
        font-size: 16px; 
        color: #ffffff;
    }
    ul.custom-list li a{
        text-decoration: none;
    }
    ul.custom-list li::before {
        content: ''; 
        position: absolute; 
        left:0;
        top: 29%;  
        transform:rotate(40deg);
        width: 10px; 
        height: 10px; 
        background-color: #E53935; 
        border-radius: 13%;
    }
.lastsection{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 50px 0px;
    gap: 50px;
}
.footersection h1{
    font-family: Avenir LT Std;
    font-size: 19px;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    padding-inline: 33px;
}
.contactus h1{
    color: #fff;
    padding: 16px 0px;
}
.contactus li {
    color: #fff;
}
.contactus  li{
    list-style: none;
    position: relative; 
    padding-left: 30px; 
    margin-bottom: 10px;
    font-size: 16px; 
    color: #ffffff;
}
.contactus  li a{
  text-decoration: none;
}
.contactus  li::before{
    content: ''; 
    position: absolute; 
    left:0;
    top: 29%;  
    transform:rotate(40deg);
    width: 10px; 
    height: 10px; 
    background-color: #E53935; 
    
}
.FAQS-link{
text-decoration: none;
}
.contact-us-btn{
    text-decoration: none;
}
.footersection p {
    color: #fff;
    padding-inline: 33px;
}
.newletter{
    padding-inline: 30px;
}
.newletter h1{
padding: 15px 1px;

}
.subscribe-container {
    display: flex; 
    justify-content: center; 

}
.subscribe-input {
    background-color: #1a1408;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E53935; 
    border-right: none; 
    border-radius: 5px 0 0 5px; 
    outline: none; 
    color: #E53935;
}
.subscribe-button {
    color:white;
    background-color: #E53935; 
    border: 3px solid #E53935; 
    border-radius: 0 5px 5px 0; 
    cursor: pointer; 
    outline: none; 
}
.footerline h1{ 
    font-style: normal;
font-family: Avenir LT Std;
font-size: 15px;
font-weight: 400;
line-height: 18px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-align: center;
display: flex;
justify-content: center;
}
@media(max-width:800px){
    .lastsection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .newletter{
        padding-inline: 0px;
    }
    
}
/* @@@@@@@@@@@@@@@@@@@@  blogs END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@  login start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.parentdivlogin{
    background-image: url(/assets/images/background-image\ login.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainboxlogin{
    height: 520px;
    width: 460px;
    background: linear-gradient(90deg, rgba(23, 23, 24, 0.1) 0%, rgba(23, 23, 24, 0) 100%);
    backdrop-filter: blur(20px);
    display: flex;
    border: 1px solid;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
}
.headinglogin{
    padding-inline: 15px;
}
.headinglogin h2{
    color: antiquewhite;
font-size: 20px;
font-style: italic;
line-height: 40.84px;
letter-spacing: 0.01em;
font-weight: 100;
}
.maininputslogin {
gap: 10px;
display: flex;
flex-direction: column;
}
.maininputslogin input{
height: 35px;
outline: 0;
color: #ffffff;
width: -webkit-fill-available;
border: 2px solid #E53935;
border-radius: 8px;
padding-inline: 10px;
background: none;
gap: 8px;
}
::placeholder {
    color: rgb(249, 245, 245);
    opacity: 1; 
  }
   
  ::-ms-input-placeholder { 
    color: rgb(242, 238, 238);
  }
.inputfLlogin{
    display: flex;
    justify-content: center;
    padding-inline: 15px;
    gap: 10px;
}
.inputfLlogin .input1login{
    background: url('/assets/images/input-p.png') no-repeat 3px center;
    background-size: 20px 20px;
    padding-inline: 15px;
    padding-left: 30px;
}
.inputfLlogin .input2login{
    background: url('/assets/images/input-p.png') no-repeat 3px center; 
    background-size: 20px 20px; 
    padding-inline: 15px;
    padding-left: 30px;
}
.EPASSlogin .emaillogin{
    background: url('/assets/images/email.png') no-repeat 3px center; 
    background-size: 20px 20px; 
    padding-inline: 15px;
    padding-left: 30px;
}
.EPASSlogin .passlogin{
    background: url('/assets/images/key.png') no-repeat 3px center; 
    background-size: 20px 20px; 
    padding-inline: 15px;
    padding-left: 30px;
}

.EPASSlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 15px;
    gap: 10px; 

}
.passinputlogin{
    position: relative;

}
@media(max-width:490px){
    .inputfLlogin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 15px;
    }   
}
.checklogin{
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    padding-top: 10px;
}
.checkplogin{
    height: fit-content;
    display: flex;
    align-items: center;
}

.checkplogin p{
    color: aliceblue;
    font-size: 12px;
}
.imagelogin img{
    height: 50px;
    width: 50px;
}
.btnpalogin p{
    color: antiquewhite;
}
.btnpalogin a{
    color: #E53935;
}
.btnpalogin{
    display: flex;
    flex-direction: column;
align-items: center; 
gap: 10px;
}
.btnpalogin button{
    height: 33px;
    width: 90%;
    background: #E53935;
    color: aliceblue;
    border: 2px solid #E53935;
    border-radius: 8px;
}
/* @@@@@@@@@@@@@@@@@@@@  login END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */